<div class="container"  style="padding: 20px;">
<table class=table> 
	<thead> 
		<tr> <th>Name</th> <th>Item Price</th> <th>Quantity</th> <th>Item Total</th> </tr> 
	</thead> 
	<tbody> 
		<tr ng-repeat="item in cart.contents">
			<td><a href="/#/detail/{{ item.id }}"> {{ item.name }}</a></td>
			<td>{{ item.pricing.formatted.without_tax }}</td>
			<td>{{ item.quantity }}</td>
			<td>{{ item.totals.post_discount.formatted.without_tax}}</td>
			<td><button ng-click="removeFromCart(item.id);"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
		</tr>
		<tr> <th scope=row> </th> <td> </td> <td> </td> <td> </td> </tr> 
		<tr> <th scope=row> </th> <th> Total </th> <td></td> <td>{{ cart.totals.post_discount.formatted.without_tax }}</td> </tr>
	</tbody> 
</table>
</div>
