/* app css stylesheet */
/*
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
*/
.version-footer {
  margin-top: 20px;
  font-size: 12px
}

.jumbotron .container {
  font-family: 'Roboto Slab', serif;
}

.jumbotron {
  height: 500px;
  background-image: url(./video/video.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: #2E2C2C 13px solid;
}

.jumbotron h1 {
  color: #fff;
  font-weight: bold;
}

.nav img {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav {
  color: #000;
}

.nav a {
      color: #232323;
}

.nav ul {
  display: inline-flex;
}


/*.nav li {
  display: inline;
}*/
