/* app css stylesheet */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.version-footer {
  margin-top: 20px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.jumbotron .container {
  font-family: 'Roboto Slab', serif;
}

.showcase {
  height: 500px;
  background-image: url(./video/video.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: #2E2C2C 13px solid;
}


.jumbotron h1 {
  color: #fff;
  font-weight: bold;
  font-size: 96px;
}

.nav img {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav {
  color: #000;
}

.nav a {
      color: #232323;
      font-size: 18px;
}

.nav ul {
  display: inline-flex;
  margin-top: 15px;
}

.nav div {
  margin-bottom: 10px;
}

.nav li {
  padding-right: 20px;
  font-weight: bold;
}
